body {
    background-color: rgba(128, 128, 128, 0.678);
}

.box-carousel{
    margin-top: 1%;
    border: solid black 2px;
    padding: 0;
}

.bgulduar{
    background-image: url("https://awutscher.github.io/wrathguides/images/ulduar.jpg");
}